doctype html
html
  head
    title= "Create.js test page"

  body

    h1 Page Header

    p
      h2 Some paragraph headline

    #myContentBlock(style='font-size:16px; color:#00000;', about='MyContentBlock')
      div(property='content')
        if typeof(MyContentBlock_content) !== 'undefined'
          != MyContentBlock_content
        else
          [edit here]

    script(src='http://code.jquery.com/jquery-1.9.0.js')
    script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
    script(src='/scripts/underscore-min.js')
    script(src='/scripts/backbone-min.js')
    script(src='/scripts/vie-min.js')
    script(src='/scripts/jquery.tagsinput.min.js')
    script(src='/scripts/jquery.rdfquery.min.js')
    script(src='/scripts/annotate-min.js')
    script(src='/scripts/rangy-core-1.2.3.js')
    script(src='/scripts/hallo-min.js')
    script(src='/scripts/aloha/lib/require.js')
    script(src='/scripts/aloha/lib/aloha-full.min.js', data-aloha-plugins='common/ui,common/format,common/link,common/image,extra/sourceview')
    script(src='/scripts/create-min.js')
    script(src='/scripts/contentblocks.js')

    link(rel='stylesheet', href='http://cdn.aloha-editor.org/latest/css/aloha.css')
    link(rel='stylesheet', href='/css/create-ui/css/create-ui.css')
    link(rel='stylesheet', href='/css/midgard-notifications/midgardnotif.css')
